
{% extends 'base1.html.twig' %}

{% block title %}ZoneDeLoisir index{% endblock %}

{% block body %}
    <h1>ZoneDeLoisir index</h1>

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Guide
            </h2>
        </div>
        <ul class="filters_menu">
        
           <a href="{{ path('zone1_index') }}">  <li data-filter=".burger" class="">Restaurations</li></a>
            <a> <li class="active" data-filter="*">Hotels</li></a>
            <li data-filter=".pizza" class="">Zones Touristiques</li>
            <li data-filter=".pasta" class="">zones Archéologiques</li>
        </ul>

        <div class="filters-content">

            <div class="row grid">

                    {% for hotel in hotels %}
                <div class="col-sm-6 col-lg-4 all piza ">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="{{ asset(hotel.image) }} " alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                 Nom :  {{ hotel.nom }}
                                </h5>

                                <p> telephone : {{ hotel.adresse }} </p>

                                <p> Email :   {{ hotel.tel }}</p>

                                <p> Page Web :  {{ hotel.email }}   </p>

                                <p> Adresse : {{ hotel.pageWeb }}</p>
                                 <p> Adresse : {{ hotel.prix }} </p>
                               

                                    <div class="options">
                                         <a href="{{ path('hotel_show', {'id': hotel.id}) }}">show</a>
  <a href="{{ path('hotel_edit', {'id': hotel.id}) }}">edit</a>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                    {% endfor %}


            </div>

        <div class="btn-box">
            <a href="">
                View More
            </a>
        </div>
    </div>
    </div>
</section>

{% endblock %}
