{% extends 'base.html.twig' %}
{% block PageContent %}



    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zone_de_loisir.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ zone_de_loisir.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ zone_de_loisir.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ zone_de_loisir.tel }}</td>
            </tr>
            <tr>
                <th>prix</th>
                <td>{{ zone_de_loisir.prix }}</td>
            </tr>
            <tr>
                <th>type</th>
                <td>{{ zone_de_loisir.type }}</td>
            </tr>
              <tr>
                <th>Email</th>
                <td>{{ zone_de_loisir.email }}</td>
            </tr>
              <tr>
                <th>nbplace</th>
                <td>{{ zone_de_loisir.nbplace }}</td>
            </tr>
              <tr>
                <th>nbmax</th>
                <td>{{ zone_de_loisir.nbmax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('zone_de_loisir_index') }}">back to list</a>

    <a href="{{ path('zone_de_loisir_edit', {'id': zone_de_loisir.id}) }}">edit</a>

    {{ include('zone_de_loisir/_delete_form.html.twig') }}
{% endblock %}
